# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*.csv
data/raw/*.parquet
data/bronze/*
data/silver/*
data/gold/*

# Environment / secrets
.env
*.env
*.key
*.pem

# Azure
.azure/

# Databricks
.databricks/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Power BI temporary files
*.tmp
# Linux virtual environment
.venv-linux/

# Archives
*.zip
